
    <section class="benefits-sections" id="benefits"> 
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6 col-md-6">
                    <h6>Community owner (CO) chooses interaction methods with their fans. These include</h6>
                    <ul>
                        <li>Social media interactions </li>
                        <li>Live calls, video gifts </li>
                        <li>IRL meetups</li>
                        <li>Tickets, backstage passes</li>
                        <li>Any other custom interaction</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-5 offset-md-1">
                    <img src="{{site.baseurl}}./assets/img/img-1.png" alt="" class="w-100">
                </div>
            </div>
            <div class="line-space-64"></div>
            <div class="row align-items-center">
                <div class="col-sm-6 order-1 order-md-0 col-md-5">
                    <img src="{{site.baseurl}}./assets/img/img-2.png" alt="" class="w-100">
                </div>
                <div class="col-sm-6 col-md-6 offset-md-1">
                    <h6>Community owner (CO) chooses interaction methods with their fans. These include</h6>
                    <ul>
                        <li>Social media interactions </li>
                        <li>Live calls, video gifts </li>
                        <li>IRL meetups</li>
                        <li>Tickets, backstage passes</li>
                        <li>Any other custom interaction</li>
                    </ul>
                </div>
            </div>
            <div class="line-space-64"></div>
            <div class="row align-items-center">
                <div class="col-sm-6 col-md-6">
                    <h6>Community owner (CO) chooses interaction methods with their fans. These include</h6>
                    <ul>
                        <li>Social media interactions </li>
                        <li>Live calls, video gifts </li>
                        <li>IRL meetups</li>
                        <li>Tickets, backstage passes</li>
                        <li>Any other custom interaction</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-5 offset-md-1">
                    <img src="{{site.baseurl}}./assets/img/img-1.png" alt="" class="w-100">
                </div>
            </div>
            <div class="line-space-64"></div>
            <div class="row align-items-center">
                <div class="col-sm-6  order-1 order-md-0 col-md-5">
                    <img src="{{site.baseurl}}./assets/img/img-2.png" alt="" class="w-100">
                </div>
                <div class="col-sm-6 col-md-6 offset-md-1">
                    <h6>testCommunity owner (CO) chooses interaction methods with their fans. These include</h6>
                    <ul>
                        <li>Social media interactions </li>
                        <li>Live calls, video gifts </li>
                        <li>IRL meetups</li>
                        <li>Tickets, backstage passes</li>
                        <li>Any other custom interaction</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>