<section class="bg-gradient-fan" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <span class="title-top">LET'S TALK</span>
                <h5 class="mb-3">Contact information</h5>
                <p class="text-center mb-5 pt-0 mt-0">We’d love to hear from you! Every feedback is welcome and encouraged.</p>
            </div>
        </div>
        <div class="row contact-info">
            <div class="col-6 text-center">
                <p>Just call us:</p>
                <a href="tel:+90 (532) 708 04 02">+90 (532) 708 04 02</a>
            </div>
            <div class="col-6 text-center">
                <p>Write to us</p>
                <a href="mailto:hakan@fanlab.io">hakan@fanlab.io</a>
                <a href="mailto:umut@fanlab.io">umut@fanlab.io</a>
            </div>
            <!-- <div class="col-4">   ### CONTACT
                <form action="https://formspree.io/f/xgeqlkve" method="POST">
                    <label>Your email:
                        <input type="email" name="email">
                    </label>
                    <label>Your message:
                        <textarea name="message"></textarea>
                    </label>
                    <button type="submit">Send</button>
                </form>
            </div>-->
        </div>
    </div>
</section>