<footer class="pt-5 pb-5 mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{{site.baseurl}./assets/img/FanLab-logo-dark.png" alt="" class="w-100">
            </div>
            <div class="col-3">
                <ul>
                    <li><a href="">What is FanLab?</a></li>
                    <li><a href="">Benefits</a></li>
                    <li><a href="">Roadmap</a></li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li><a href="">Team</a></li>
                    <li><a href="">Questions</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h6 class="fw-bold mb-2 fs-4">Company</h6>
                <p class="mb-1">Fanlab</p>
                <p class="mb-1">Maslak Mah. Dereboyu 2 Cad. Ata Center Apt. No:15/101</p>
                <p>Sarıyer/İstanbul</p>
            </div>
        </div>
    </div>
</footer>