<footer class="pt-5 pb-5 mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-3">
                <img src="{{site.baseurl}}./assets/img/FanLab-logo-dark.png" alt="">
            </div>
            <div class="col-xs-12 col-md-6 col-lg-2 pt-4 pt-lg-0">
                <ul>
                    <li><a href="#what">What is FanLab?</a></li>
                    <li><a href="#benefits">Benefits</a></li>
                    <li><a href="#roadmap">Roadmap</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 pt-4 pt-lg-0">
                <ul>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#questions">Questions</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-12 pt-4 pt-lg-0 col-lg-4">
                <h6 class="fw-bold mb-2 fs-4">Company</h6>
                <p class="mb-1">Fanlab</p>
                <p class="mb-1">Maslak Mah. Dereboyu 2 Cad. Ata Center Apt. No:15/101</p>
                <p>Sarıyer/İstanbul</p>
            </div>
        </div>
    </div>
</footer>