<header> 
        <nav class="navbar navbar-light bg-transparent navbar-expand-lg justify-content-between fixed-top" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="{{site.baseurl}}">
                    <img src="{{ site.baseurl }}./assets/img/FanLab-logo-white.png" alt="" class="w-100 white-logo">
                    <img src="{{ site.baseurl }}./assets/img/FanLab-logo.png" alt="" class="w-100 color-logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#what">What is FanLab?</a>
                    <a class="nav-item nav-link" href="#benefits">Benefits</a>
                    <a class="nav-item nav-link" href="#roadmap">Roadmap</a>
                    <a class="nav-item nav-link" href="#team">Team</a>
                    <a class="nav-item nav-link" href="#questions">Questions</a>
                    <a class="nav-item nav-link" href="#contact">Contact</a>
                  </div>
                </div>
            </div>
          </nav>
</header>