<header> 
        <nav class="navbar navbar-light bg-transparent navbar-expand-lg justify-content-between fixed-top" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{{ site.baseurl }}/assets/img/FanLab-logo-white.png" alt="" class="w-100 white-logo">
                    <img src="{{ site.baseurl }}/assets/img/FanLab-logo.png" alt="" class="w-100 color-logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">Home</a>
                    <a class="nav-item nav-link" href="#">Features</a>
                    <a class="nav-item nav-link" href="#">Pricing</a>
                  </div>
                </div>
            </div>
          </nav>
</header>