<section class="overflow-hidden"> <!-- Roadmap -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="timeline">
                <ul>
                  <li>
                    <div>
                      <time>2016</time>
                      Event Here
                    </div>
                  </li>
                  <li>
                    <div>
                      <time>2015</time>
                      Event Here
                    </div>
                  </li>
                  <li>
                    <div>
                      <time>2014</time>
                      Event Here
                    </div>
                  </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</section>