<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>
<body>
  {% include header.html %}
  
  <main>
    <section class="hero-section"> <!-- Hero Section -->
        <div id="particles-js"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-sm-12 col-lg-5">
                    <div class="hero-left-wrapper">
                        <h1>The NFT Revolution for Community Interaction</h1>
                        <p>Celebrities, Influencers, Institutions… All brands now have a revolutionary community interaction system, no codes, endless utilities and decentralized system. We unchain the power of web3 and NFTs to create a new world of community building.</p>
                        <button type="button" class="btn white-btn ml-1">WHITEPAPER</button>
                        <a class="btn outline-btn" href="{{site.baseurl}}./assets/BlockChainPanelDraftPlan-NFT-1.pdf" target="_blank">LITEPAPER</a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 offset-lg-1 col-lg-6">
                    <div class="glass-wrapper">
                        <p>Take your VIP seat on this journey. Join our FanLab Entrepreneur Club!</p>
                        <div class="flipper" 
                            data-datetime="2023-04-30 02:00:00" 
                            data-template="ddd|HH|ii|ss" 
                            data-labels="Days|Hours|Minutes|Seconds" 
                            data-reverse="true"
                            id="myFlipper">
                        </div>
                        <!-- <button type="button" class="btn gradient-btn">APPLY FOR WHITELIST</button> -->
                        <!-- <a href="" class="mx-auto d-block">Benefits</a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="light-grey-bg"> <!-- Partners and Investors Section -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>BUILD Partners & Investors</h5>
                    <div class="customer-logos slider">
                        <div class="slide"><img src="{{site.baseurl}}./assets/img/extrawattssn.png" alt=""></div>
                        <div class="slide"><img src="{{site.baseurl}}./assets/img/nextluan.png" alt=""></div>
                        <div class="slide"><img src="{{site.baseurl}}./assets/img/polygonn.png" alt=""></div>
                        <div class="slide"><img src="{{site.baseurl}}./assets/img/tarvennn.png" alt=""></div>
                        <div class="slide"><img src="{{site.baseurl}}./assets/img/techonen.png" alt=""></div>
                        <div class="slide"><img src="{{site.baseurl}}./assets/img/tokensuite_logo.png" alt=""></div>
                        <div class="slide"><img src="{{site.baseurl}}./assets/img/twozeron.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="what"> <!-- How it works section -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>What is FanLab? How it works?</h5>
                    <img src="{{site.baseurl}}./assets/img/how-it-works-fanlab.jpeg" alt="" class="w-100">
                </div>
            </div>
        </div>
    </section>
    {% include benefits.html %}  <!-- Benefits Section -->
    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>NFT Holders (FAN)</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <ul>
                        <li class="d-flex gap-3 mb-5 flex-row flex-md-row-reverse">
                            <span class="pe-7s-cloud-download fs-3"></span>
                            <p>Mint NFT and get its utilities</p>
                        </li>
                        <li class="d-flex gap-3 mb-5 flex-row flex-md-row-reverse">
                            <span class="pe-7s-cart fs-3"></span>
                            <p>Purchase utility NFTs from FanLab</p>
                        </li>
                        <li class="d-flex gap-3 mb-5 flex-row flex-md-row-reverse">
                            <span class="pe-7s-note fs-3"></span>
                            <p>Sign up to events created by CO</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6">
                    <ul>
                        <li class="d-flex gap-3 mb-5">
                            <span class="pe-7s-add-user fs-3"></span>
                            <p>Login to Fanlab Dashboard</p>
                        </li>
                        <li class="d-flex gap-3 mb-5">
                            <span class="pe-7s-graph1 fs-3"></span>
                            <p>Sell your utility NFTs and make profit</p>
                        </li>
                        <li class="d-flex gap-3 mb-5">
                            <span class="pe-7s-users fs-3"></span>
                            <p>Assign tasks (i.e: instagram follow) to CO</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {% include roadmap.html %}  <!-- Roadmap Section -->
    

    <section class="club-section"> <!-- Club Section -->
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 offset-lg-1">
                    <img src="{{site.baseurl}}./assets/img/club-logo.png" alt="" class="w-100">
                </div>
                <div class="col-lg-6 offset-lg-1 text-white">
                    <h6 class="fs-3 fw-bold">FanLab Entrepreneur Club</h6>
                    <p>A big brand means big communities. Unfortunately, not everyone will get an NFT and their benefits. These benefits will be able to be traded as well. So a meet-up with a big celebrity will surely be worth a lot! FanLab EntrepreneurClub will let you get you whitelist on these NFTs AND AT A DISCOUNT!! </p>
                    <p>Entrepreneurs of the club will also have a say in the governance and the future of the FanLab system, through our FanLab, where every strategic decision will be voted between the members. </p>
                    <p class="fst-italic">Apply for Entrepreneur Club right now! </p>
                </div>
            </div>
            <div class="line-space-64"></div>
            <div class="row pt-5">
                <div class="col-lg-8 offset-lg-2 text-center text-white">
                    <h6 class="fs-3 fw-bold">Utilizing the power of ETH Layer2</h6>
                    <p>FanLab will utilize the full power of the Ethereum community. Entrepreneur NFTs will be on the Ethereum blockchain, where it will receive its full value potential. </p>
                    <p>To fully fuctionalize the Fan club utility system, we will build the Celebrity collections and the dashboards on Polygons powerful L2 solution. Community owners and fans will enjoy the fast, ultra low gas and ETH bridged benefits of Polygon.</p>
                </div>
            </div>
        </div>
    </section>
    {% include teams.html %} <!-- Team -->
    {% include faq.html %} <!-- FAQ -->
    {% include contact.html %} <!--  Contact -->
  </main>
  
  {% include footer.html %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="{{site.baseurl}}./js/jquery.flipper-responsive.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
  <script src="{{site.baseurl}}./js/particles.min.js"></script>
  <script src="{{site.baseurl}}./js/stats.js"></script>
  <script src="{{site.baseurl}}./js/main.js"></script>
</body>